<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocAsist</title>
    <link rel="stylesheet" href="/static/docassist.css">
</head>
<body>
    <div  class="container">
        <form action="/speechrec"  method="post">
          <button type="submit" class="mic" name="mic"><span>🎙️</span></button>
        </form>
          
    
        <form action="/docassist" method="post">
          <div class="input-container">
            <input class="text_field" type="text" name="symptons" placeholder="I have Ichiness..." value="{{ text }}"/>
          </div>
          <button type="submit" class="submit">Get Log</button> 
        </form>
    
        {% if info %}
        <div><h2>{{ info }}</h2></div>
        {% endif %}
      </div>
        
</body>
</html>

